# Python caches
__pycache__/
*.pyc

# Virtual environments
tf-cuda/
venv/
.env/

# Large data or images
processed/
dataset/
lisa_raw/

# Saved models
*.h5
*.ckpt

# OS files
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/
